<section class="lks-contact {{mod}} lks-on-dark" aria-labelledby="{{id}}-kontakt-h">
  <div style="grid-column:1/-1">
    <span class="lks-kicker">Lungenkrebsscreening Hamburg</span>
    <h2 class="lks-h2" id="{{id}}-kontakt-h">{{heading}}</h2>
  </div>
  <div>
    <span class="lks-contact__label">Telefon Anmeldung</span>
    <p class="lks-contact__value"><a href="tel:+4940350048454">040&nbsp;3500484-54</a></p>
  </div>
  <div>
    <span class="lks-contact__label">Online-Termin</span>
    <p class="lks-contact__value"><a href="https://www.doctolib.de/gemeinschaftspraxis/hamburg/mammadiagnostik-stephansplatz?pid=practice-79031" target="_blank" rel="noopener">Doctolib<span class="lks-visually-hidden"> (externer Anbieter, neues Fenster)</span></a></p>
    <p class="lks-small">Externer Anbieter, es gilt dessen Datenschutzerklärung.</p>
  </div>
  <div>
    <span class="lks-contact__label">Untersuchungsort</span>
    <address>
      <p><strong>Radiologie Dammtor</strong><br>Dammtorwall 7a<br>20354 Hamburg</p>
    </address>
  </div>
  <div>
    <span class="lks-contact__label">Telefonische Erreichbarkeit</span>
    <p><span class="lks-pruefen">Sprechzeiten aus der bestehenden Website übernehmen</span></p>
  </div>
  {{more}}
</section>
