<aside class="lks-teaser" aria-labelledby="{{id}}-teaser-h">
  <!-- @include lung-small id="{{id}}" -->
  <div>
    <span class="lks-kicker">Neu: Lungenkrebsscreening</span>
    <h2 class="lks-h3" id="{{id}}-teaser-h" style="margin-top:0">Früherkennung mit Niedrigdosis-CT</h2>
    <p>Für langjährige Raucherinnen und Raucher von 50 bis 75 Jahren – als Kassenleistung, in Kooperation mit Hausarztpraxen und dem AK Harburg.</p>
    <a class="lks-btn lks-btn--small" href="{{base}}lungenkrebsscreening/">Mehr erfahren</a>
  </div>
</aside>
